body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 500px;
}

#score_parent > ul {
    list-style-type : none;
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    justify-content : center;
    padding: 0;
    margin: 0;
    width : 100%;
}

#score_parent > ul > li {
    border : 1px solid #ccc;
    width : 200px;
    margin : 5px;
}

#score_parent > ul > li > img {
    width : 100px;
    display: block;
    margin: 5px auto;
}

#score_parent > ul > li > p {
    margin : 0;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
}

#score_parent > ul > li > p:last-child {
    margin : 0;
    padding: 5px 10px;
}

#score_parent > ul > li > button {
    display: block;
    margin : 5px auto;
}

#basket {
    border : 1px solid #ccc;
    min-height: 100px;
    width: 15%;
}

#basket > ul {
    list-style-type : none;
    padding : 0;
    margin : 5px;
}

#basket > ul > li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin: 0;
}

#basket > p {
    padding: 0;
    margin: 5px;
}