@import url('https://fonts.googleapis.com/css?family=Baloo|Montserrat');

body {
	background-color: #000;
	font-size : 14px;
	min-height: 65rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#light {
	width : 8rem;
	display: block;
	margin : 0 auto;
}

#table {
	width : 60rem;
	display: block;
	margin : 0 auto;
}

#don_left {
	width: 12rem;
	position: absolute;
	top : 15rem;
	left: 5rem;
}

#don_right {
	width: 12rem;
	position: absolute;
	top : 15rem;
	right: 5rem;
}

#logo {
	width : 25rem;
	position: absolute;
	top : 1rem;
	right : 5rem;
}

.aforizm {
	color : #fcfcfc;
	position: absolute;
	top : 1rem;
	left : 5rem;
	font-size: 2rem;
	text-align: center;
	width : 20rem;
	font-family: 'Baloo', cursive;
}

.aforizm_bottom {
	left : 15rem;
	top: 4rem;
}

.listbox {
	width : 35rem;
	height: 15rem;
	border: 0.01rem solid #ccc;
	margin: 0 auto;
}

.listbox > ul {
	margin: 1rem;
	padding: 0;
}

.listbox > ul > li > a {
	font-family: 'Baloo', cursive;
	color : #fcfcfc;
	font-size: 1.1rem;
	list-style-type: none;
	text-decoration: none;
	display: block;
	transition: 0.5s;
	padding-left: 1rem; 
}

.listbox > ul > li > a:hover {
	text-decoration: underline;
	background-color: #747474;
}